<!-- creacion de formularios por aproximacion de data  -->
<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="saveCambios()" >

  <div formGroupName="nombreCompleto" >
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               >
        <!-- <div *ngIf="forma.controls['nombreCompleto'].errors?.required" class="text-danger" >
            <span>El campo nombre es necesario</span>
        </div> -->
        <div *ngIf="forma.get('nombreCompleto.nombre').errors?.required" class="text-danger" >
          <span>El campo nombre es necesario</span>
      </div>
        <div *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength" class="text-danger" >
           <span>El campo debe contener al menos 5 caracteres</span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">
        <div *ngIf="forma.get('nombreCompleto.apellido').errors?.required" class="text-danger" >
            <span>* El campo apellido es requerido *</span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo"
            >
      <div class="text-danger" *ngIf="forma.controls['correo'].errors?.required" >
          <span>* Campo correo requerido *</span>
      </div>
      <div *ngIf="forma.controls['correo'].errors?.pattern" >
        <span>* El correo es incorrecto *</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario  </label>
    <div class="col-md-8">
      <input class="form-control"
             type="text"
             placeholder="Usuaario name"
             formControlName="username"
            >
      <!-- <div class="text-danger" *ngIf="forma.controls['correo'].errors?.required" >
          <span>* Campo correo requerido *</span>
      </div> -->
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Passsword </label>
    <div class="col-md-8">
      <input class="form-control"
             type="password"
             placeholder="Password"
             formControlName="password1"
            >
      <!-- <div class="text-danger" *ngIf="forma.controls['correo'].errors?.required" >
          <span>* Campo correo requerido *</span>
      </div> -->
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Repetir Password </label>
    <div class="col-md-8">
      <input class="form-control"
             type="password"
             placeholder="Repetir Contraseña"
             formControlName="password2"
            >
      <!-- <div class="text-danger" *ngIf="forma.controls['correo'].errors?.required" >
          <span>* Campo correo requerido *</span>
      </div> -->
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos" >
        <input 
        *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index;"
        type="text" 
        [formControlName]="i"
        class="form-control" 
        >
        <button type="button" (click)="agregarPaasatiempos()" class="btn btn-primary">Nuevo</button>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>
</form>

<pre>
  {{ forma.valid  }}
  <br>
  {{ forma.status }}
</pre>